body {
  font-family: montserrat, sans-serif;
  font-size: 20px;
  font-weight: 400;
  line-height: 1;
}

h1{
  color: #4B2D69;
  font-family: gravesend-sans, sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 48px;
  line-height: .8;
  margin-bottom: 20px;
}

h2 {
  color: #4B2D69;
  font-family: gravesend-sans, sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 36px;
  line-height: .8;
  margin-bottom: 20px;
}

button {
  border: none;
  background: none;
  padding: 10px;
}

.current-date {
  font-size: 24px;
}

.current-time {
  color: #4B2D69;
  font-family: gravesend-sans, sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 32px;
  margin-top: 10px;
}

.quote {
  font-size: 16px;
}

.header {
  padding: 15px;
  background-color: white;
  border-bottom: 2px solid #383838;
  position: sticky;
  top: 0;
  margin-bottom: 20px;
  z-index: 99;
}

.right-column {
  text-align: left;
}

.main-content {
  padding: 0 0 20px 0;
  position: relative;
}

.sticky {
  position: sticky;
  top: 180px;
  display: flex;
  flex-direction: column;
  align-content: center;
}

.to-do-container {
  border-radius: 20px;
  border: 4px solid #4B2D69;
  padding: 20px;
  margin-bottom: 20px;
}

.timeblock-container {
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  align-content: center;
}

.timeblock {
  border-radius: 20px;
  border: 4px solid #4B2D69;
  padding: 20px;
  margin-bottom: 20px;
  min-height: 80px;
}

#todo-text{
  margin-bottom: 20px;
  width: 100%;
  font-size: 16px;
  padding: 5px;
  border-radius: 5px;
  border: 1px solid #f2f2f2;
}

.todo-item {
  padding: 5px;
}

.hour {
  font-weight: 700;
}

.button-purple {
  color: white;
  background-color: #4B2D69;
  border-radius: 5px;
  min-width: 200px;
  text-transform: uppercase;
}

.button-purple:hover {
  color: white;
  background-color: #73588d;
  transition: all .3s ease-in-out;
}


textarea{
  background: transparent;
  border: none;
  resize: vertical;
  color: #424242;
  padding: 10px;
}

.hour-text {
  width: 100%;
  padding: 5px;
  min-height: 40px;
  line-height: 1.4;
}

.past {
  background-color: #e6e6e6;
  border-color: #383838;
  color: #424242;
}

.present {
  background-color: #b29aca;
  color: white;
}

.future {
  background-color: white;
  color: #4B2D69;
}


@media (min-width: 768px) {
  h1 {
    font-size: 64px;
  }

  .header {
    padding: 30px;
  }

  .current-date {
    font-size: 30px;
  }

  .right-column {
    text-align: right;
  }

  .current-time {
    font-size: 36px;
    margin-top: 0;
  }

  .timeblock-container {
    margin-bottom: 0;
    display: block;
  }

  .to-do-container {
    padding: 30px;
    min-height: 50vh;
  }

  .sticky {
    display: block;
  }
}