body {
  font-family: montserrat, sans-serif;
  font-size: 20px;
  font-weight: 400;
  line-height: 1;
}

h1{
  color: #4B2D69;
  font-family: gravesend-sans, sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 64px;
  line-height: .8;
  margin-bottom: 20px;
}

h2 {
  color: #4B2D69;
  font-family: gravesend-sans, sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 36px;
  line-height: .8;
  margin-bottom: 20px;
}

button {
  border: none;
  background: none;
  padding: 10px;
}

.current-date {
  font-size: 30px;
}

.current-time {
  color: #4B2D69;
  font-family: gravesend-sans, sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 36px;
}

.quote {
  font-size: 16px;
}

.header {
  padding: 30px;
  background-color: white;
  border-bottom: 2px solid #383838;
  position: sticky;
  top: 0;
  margin-bottom: 20px;
  z-index: 99;
}

.right-column {
  text-align: right;
}

.main-content {
  padding: 0 0 20px 0;
  position: relative;
}

.sticky {
  position: sticky;
  top: 180px;
}

.to-do-container {
  border-radius: 20px;
  border: 4px solid #4B2D69;
  padding: 30px;
  min-height: 50vh;
  margin-bottom: 20px;
}

.timeblock {
  border-radius: 20px;
  border: 4px solid #4B2D69;
  padding: 20px;
  margin-bottom: 20px;
  min-height: 80px;
}

#todo-text{
  margin-bottom: 20px;
  width: 100%;
  font-size: 16px;
  padding: 5px;
  border-radius: 5px;
  border: 1px solid #f2f2f2;
}

.todo-item {
  padding: 5px;
}

.save {
  color: #4B2D69;
}

.save:hover {
  opacity: .8;
  transition: all .3s ease-in-out;
}

.hour {
  font-weight: 700;
}

.button-purple {
  color: white;
  background-color: #4B2D69;
  border-radius: 5px;
  min-width: 200px;
  text-transform: uppercase;
}

.button-purple:hover {
  color: white;
  background-color: #73588d;
  transition: all .3s ease-in-out;
}


textarea{
  background: transparent;
  border: none;
  resize: vertical;
  color: #424242;
  padding: 10px;
}

.hour-text {
  width: 100%;
  padding: 5px;
  min-height: 40px;
  line-height: 1.4;
}



.past {
  background-color: #e6e6e6;
  border-color: #383838;
  color: #424242;
}

.present {
  background-color: #b29aca;
  color: white;
}

.future {
  background-color: white;
  color: #4B2D69;
}

.saveBtn {
  border-left: 1px solid black;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  background-color: #06AED5;
  color: white;
}

.saveBtn i:hover {
  font-size: 20px;
  transition: all .3s ease-in-out;
}
